@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202024;
}

.timer {
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.timer div {
  font-size: 8.75vw;
  font-weight: 700;
  font-family: 'Roboto Mono', monospace;
  color: #FFF;
  padding: 40px 20px;

  background: #29292E;
  border-radius: 8px;
}